<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzp.dao.system.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.zzp.entity.system.SysRole">
        <id column="sr_id" property="srId" jdbcType="INTEGER"/>
        <result column="sr_name" property="srName" jdbcType="VARCHAR"/>
        <result column="sr_description" property="srDescription" jdbcType="VARCHAR"/>
        <result column="sr_create_time" property="srCreateTime" jdbcType="TIMESTAMP"/>
        <result column="sr_update_time" property="srUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    sr_id, sr_name, sr_description, sr_create_time, sr_update_time
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zzp.entity.system.SysRoleExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sys_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where sr_id = #{srId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where sr_id = #{srId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.zzp.entity.system.SysRoleExample">
        delete from sys_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.zzp.entity.system.SysRole">
    insert into sys_role (sr_id, sr_name, sr_description, 
      sr_create_time, sr_update_time)
    values (#{srId,jdbcType=INTEGER}, #{srName,jdbcType=VARCHAR}, #{srDescription,jdbcType=VARCHAR}, 
      #{srCreateTime,jdbcType=TIMESTAMP}, #{srUpdateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.zzp.entity.system.SysRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="srId != null">
                sr_id,
            </if>
            <if test="srName != null">
                sr_name,
            </if>
            <if test="srDescription != null">
                sr_description,
            </if>
            <if test="srCreateTime != null">
                sr_create_time,
            </if>
            <if test="srUpdateTime != null">
                sr_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="srId != null">
                #{srId,jdbcType=INTEGER},
            </if>
            <if test="srName != null">
                #{srName,jdbcType=VARCHAR},
            </if>
            <if test="srDescription != null">
                #{srDescription,jdbcType=VARCHAR},
            </if>
            <if test="srCreateTime != null">
                #{srCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="srUpdateTime != null">
                #{srUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zzp.entity.system.SysRoleExample" resultType="java.lang.Integer">
        select count(*) from sys_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_role
        <set>
            <if test="record.srId != null">
                sr_id = #{record.srId,jdbcType=INTEGER},
            </if>
            <if test="record.srName != null">
                sr_name = #{record.srName,jdbcType=VARCHAR},
            </if>
            <if test="record.srDescription != null">
                sr_description = #{record.srDescription,jdbcType=VARCHAR},
            </if>
            <if test="record.srCreateTime != null">
                sr_create_time = #{record.srCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.srUpdateTime != null">
                sr_update_time = #{record.srUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_role
        set sr_id = #{record.srId,jdbcType=INTEGER},
        sr_name = #{record.srName,jdbcType=VARCHAR},
        sr_description = #{record.srDescription,jdbcType=VARCHAR},
        sr_create_time = #{record.srCreateTime,jdbcType=TIMESTAMP},
        sr_update_time = #{record.srUpdateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zzp.entity.system.SysRole">
        update sys_role
        <set>
            <if test="srName != null">
                sr_name = #{srName,jdbcType=VARCHAR},
            </if>
            <if test="srDescription != null">
                sr_description = #{srDescription,jdbcType=VARCHAR},
            </if>
            <if test="srCreateTime != null">
                sr_create_time = #{srCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="srUpdateTime != null">
                sr_update_time = #{srUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where sr_id = #{srId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zzp.entity.system.SysRole">
    update sys_role
    set sr_name = #{srName,jdbcType=VARCHAR},
      sr_description = #{srDescription,jdbcType=VARCHAR},
      sr_create_time = #{srCreateTime,jdbcType=TIMESTAMP},
      sr_update_time = #{srUpdateTime,jdbcType=TIMESTAMP}
    where sr_id = #{srId,jdbcType=INTEGER}
  </update>
</mapper>